{{define "edit_skill"}}
<div class="col-span-3 my-2 p-4 bg-gray-100 rounded-xl">
    <p>Name: </p><input class="p-2 bg-gray-50 shadow shadow-inner outline-0 flex-1 block w-full rounded-md sm:text-sm border-gray-300" type="text" value="">
    <p>Text: </p><input class="p-2 bg-gray-50 shadow shadow-inner outline-0 flex-1 block w-full rounded-md sm:text-sm border-gray-300" type="text" value="">
    <p>Fill: </p><input class="p-2 bg-gray-50 shadow shadow-inner outline-0 flex-1 block w-full rounded-md sm:text-sm border-gray-300" type="text" value="">
    <p>Background: </p><input class="p-2 bg-gray-50 shadow shadow-inner outline-0 flex-1 block w-full rounded-md sm:text-sm border-gray-300" type="text" value="">
    <p class="fill-gray-500 flex gap-2 items-center">Inline SVG: </p>
    <textarea id="content" name="content" rows="5" class="p-2 h-[80px] bg-gray-50 shadow shadow-inner outline-0 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Content" required></textarea>
    <div class="flex gap-2 justify-end mt-4">
        <button
            class="text-white p-1 px-2 rounded bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300">Delete</button>
        <button
            class="text-white p-1 px-3 text-center rounded bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">Save
            Tag</button>
    </div>
</div>
{{end}}
