/*
Go Blog CSS
Cool animations, 
shadows, effects, etc
*/

:root {
  color-scheme: dark;
}

body {
    margin: auto;
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e2e5fc, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e2e2fc, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: gradient 20s ease infinite;
    background-size: 150% 150%;
    background-attachment: fixed;
    user-select: text;
}

a {
  cursor: pointer;
}

article a {
  color:#6366f1;
}

article a:hover {
  color:#1e40af;
  text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    25% {
        background-position: 50% 100%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
  
    50% {
        background-position: 100% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
  
    75% {
        background-position: 50% 0%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    100% {
        background-position: 0% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
}

/*HTMX transition animations*/
@keyframes fade-in {
	from { opacity: 0; }
  }

  @keyframes fade-out {
	to { opacity: 0; }
  }

  @keyframes slide-from-right {
  from { transform: translateX(50%);}
  }

  @keyframes slide-to-left {
	to { transform: translateX(-50%);}
  }

  /* all sections should have animations*/
   .slide-it {
	view-transition-name: slide-it;
  }

  ::view-transition-old(slide-it) {
	animation: 80ms ease-out both fade-out,
	300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  ::view-transition-new(slide-it) {
	animation: 250ms cubic-bezier(0, 0, 0.2, 1) both fade-in,
	400ms cubic-bezier(.1,.88,.56,.97) both slide-from-right;
  }

/* Custom fast shadows
*/


div.shadow-66 a,
li.shadow-66 {
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.02),
              0px 10px 20px 0px rgba(50, 50, 50, 0.01);
  transition: box-shadow ease 300ms;
  transition: scale ease 300ms;
}
div.shadow-66 a:hover,
li.shadow-66:hover{
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.1),
              0px 20px 40px 0px rgba(50, 50, 50, 0.01);
  scale: 1.015;
}


/*Blog Header*/
#postImage{
  width: 100%;
  height: 200px;
  display: flex;
}
#postImage img{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

#postWrap iframe {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

#postWrap img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  max-height: 400px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.05),
              0px 0px 10px 0px rgba(50, 50, 50, 0.01);
}

pre {
  /*prism.css*/
}

code {
  padding: 0px;
  margin: 0px;
}


.fade-me-in {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}

