

body {
    margin: auto;
    background: linear-gradient(to bottom, 
      #636FA4,  
      #E8CBC0);
    animation: gradient 30s ease infinite;
    background-size: 150% 150%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    25% {
        background-position: 50% 100%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
  
    50% {
        background-position: 100% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
  
    75% {
        background-position: 50% 0%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    100% {
        background-position: 0% 50%;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
}

/*HTMX transition animations*/
@keyframes fade-in {
	from { opacity: 0; }
  }

  @keyframes fade-out {
	to { opacity: 0; }
  }

  @keyframes slide-from-right {
	from { transform: translateX(90px); }
  }

  @keyframes slide-to-left {
	to { transform: translateX(-90px); }
  }

  /* all sections should have animations*/
  section {
	view-transition-name: slide-it;
  }

  ::view-transition-old(slide-it) {
	animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
	600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  ::view-transition-new(slide-it) {
	animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
	600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

footer{
}
