{{define "moderatorjs"}}

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@tensorflow-models/toxicity"></script>

<section id="moderatorjsWrap" class="w-full">

		<div class="container text-zinc-800 max-w-2xl mx-auto px-2 py-2 sm:py-8 sm:px-8">	
			<!--Project Description-->
			<article class="bg-white/90 flex flex-col shadow mb-10 rounded-xl">
				<div class="flex flex-col justify-start p-6">
				<p>
					<b>AI Content Moderator</b>
					<br>Demo of TensorFlowJS small pretrained 
					<br>models for content moderation 
					<br><br>The model, when preloaded, works great on a desktop browser or React native app. To test, say something rude.
					<!-- blog post about pretrained models with LangChain -->
				</p>
				</div>
			</article>
	
			<!-- Post input box-->
		<article class="bg-white/90 flex flex-col shadow my-10 rounded-xl">
			<div class="flex flex-col justify-start p-6">
				<h2 class="pb-4 font-semibold text-xl">Social media post</h2>
				<p class="text-sm">
					<textarea data-action="postInputKeyPress" id="post-input" class="border-slate-300 border-2 resize-none bg-white/90 w-full h-20 p-2 rounded shadow-inner focus:outline-none focus:border-blue-300" value="" placeholder="What's Happening?"></textarea>
					<button data-action="postInput" id="postButton" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 float-right border-b-2 border-r-2 border-blue-600 hover:border-blue-500 rounded">POST</button>
				</p>
			</div>
		</article>
	
		<div id="timeline"></div>
		<!-- Mock Content 
		<article class="flex flex-col shadow my-10 rounded-xl bg-white/90">
			<div class="flex flex-col justify-start p-6">
				<p class="font-bold">@${userContent}</p>
				  <p class="px-2">${postContent}</p>
			</div>
			<div class="flex self-end gap-10 pb-6 mr-6">
				<i class="fa-regular fa-comment hover:text-cyan-600"></i>
				<i class="fa-solid fa-retweet hover:text-green-600"></i>
				<i class="fa-regular fa-heart hover:text-red-600"></i>
			</div>
		</article>
		-->
		
	</div>
</section>


<script src="/static/moderatorjs/main.js" defer></script>
	

{{end}}
