{{define "about"}}
<!-- Contact Section -->
<section  class="w-full">
	<article class="flex flex-col text-zinc-800 mx-auto max-w-4xl">
		<div class="flex flex-col justify-start">
            <p class="text-5xl text-indigo-500 py-6 pb-12 px-6 hide">About.</p>
			<div class="mx-auto w-full max-w-3xl">
				{{ mdToHTML .Contact}}
            </div>
		</div>
	</article>

</section>
{{end}}
