{{define "contact"}}
<!-- Contact Section -->
<section id="contactWrap" class="w-full">

	<article class="flex flex-col shadow my-4 bg-white/75 text-zinc-800 bg-white/75 rounded-lg">
		<div class="flex flex-col justify-start p-6">
			<h1 class="text-3xl font-bold pb-4">Contact</h1>	
			<p>
				{{ mdToHTML .Contact}}
			</p>
		</div>
	</article>

</section>
{{end}}
