{{ define "add_project" }}
<button class="fade-me-in fade-me-out col-start-3 text-white p-2 px-6 w-full text-center rounded bg-gray-500 hover:bg-gray-600 active:bg-gray-600 focus:outline-none focus:ring focus:ring-gray-100 hover:text-white hover:no-underline"
hx-get="/dashboard/resume?edit=projects" hx-swap="innerHTML" hx-target="#newproject">New</button>
{{end}}
