{{define "footer"}}

</div>
</div>


	<!-- Footer -->
	<footer class="container flex grow place-items-end bottom-0 max-w-2xl pb-8 pt-16 text-gray-900 px-4 sm:px-14">
		<div class="w-full container mx-auto flex flex-col text-right ">
			<p class="fill-white text-gray-900">
				<a hx-get="/contact"
				hx-boost="true" hx-swap="innerHTML transition:true" 
				hx-target="#container" hx-push-url="true"
				class="block py-2 pl-3 pr-4 rounded md:border-0 hover:underline hover:text-indigo-500 md:p-0 text-gray-900">Contact</a>
			</p>
		</div>
	</footer>

</body>
</html>
{{end}}
