{{define "post"}}
<script src="/static/prism/prism.js"></script>
<link rel="stylesheet" href="/static/prism/prism.css">

<!-- Post Section -->
<section id="postWrap" class="w-full">
<article class="flex flex-col my-6 text-zinc-800">
	{{if .Image}}
	<figure id="postImage" class="rounded-2xl">
		<img src="{{.Image}}">
	</figure>
    {{end}}
	<div class="flex flex-col  justify-start py-4">
		<h1 class="text-3xl font-bold pb-4">{{.Title}}</h1>
		<p class="text-sm text-sm pt-2 pb-4 text-gray-600">
			By <strong>{{.Author.Name}}</strong>. Published on {{shortDate .CreatedAt}}.
		</p>
		<div first-line:uppercase first-line:tracking-widest
		first-letter:text-7xl first-letter:font-bold first-letter:text-white
		first-letter:mr-3 first-letter:float-left>
		{{.Content}}
		</div>
	</div>
</article>
</section>
{{end}}
